.home-aboutsection {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;

  .home-abt-pic {
    width: 50%;

    // img{
    //     width: 100%;
    // }
  }

  .home-abt-content {
    padding: 50px;

    .home-abt-head {
      font-weight: 600;
      font-size: 28px;
      color: #000;
    }
  }
}

.home-learn-howto-export {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;

  .home-abt-pic-export {
    width: 50%;
    img {
      width: 100%;
    }
  }

  .home-abt-content {
    padding: 50px;

    .home-abt-head {
      font-weight: 600;
      font-size: 28px;
      color: #000;
    }
    .homeabt-cont {
      margin-bottom: 50px;
    }
    .home-cstmble-btn {
      font-weight: 700;
      background-color: #015488;
      padding: 10px 20px;
      margin: 50px 00;
      color: #fff;
    }
  }
}

// Additional fine-tuning for smaller screens (e.g., mobile phones)
@media (max-width: 480px) {

    .app-container{

       display: none;
    }


  .home-aboutsection {
    width: 90%; // Increase width for better fit
    flex-direction: column;

    .home-abt-pic {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .home-abt-content {
      padding: 10px;
    }
  }

  .home-cstm-card-sect {
    flex-direction: column;
    width: 90% !important;

    .home-cstm-card {
      width: 90%;
      margin: 10px auto;
    }
  }

  .about-ita {
    width: 90% !important;
    padding: 30px !important;

    .cards {
      flex-direction: column;

      .card {
        width: 100% !important;
        padding: 0 !important;
        margin: 40px auto;

        .icon{
            display: none;
        } 
      }
    }
  }

  .home-learn-howto-export {
    flex-direction: column;
    width: 90%;

    .home-abt-pic-export{

        width: 100%;
    }

    .home-abt-content{

        padding: 10px;
    }
  }

  .homeimggllrypage{

    width: 90%;


    .homeimagegallery{

        display: flex !important;
        flex-direction: column;
    }
  }
}
